<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<title>顧客対応記録</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/staff/index}">顧客データバンク</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/user/index}" style="color:white">検索</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" 
          th:href="@{/cs/toUserDetail?userId=}+${session.user.id}" th:text="${session.user.name}">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="mx-auto mt-5 px-5">
	<div class="card">
	<form th:action="@{/cs/record}" th:object="${customerServiceHistoryForm}" method="post">
	<div class="form-group">
  		<div class="card-header text-center">
    	<div th:text="${session.user.id} +'&nbsp;&nbsp;'+ ${session.user.name}"></div>
  		</div>
  		<div class="card-body">
  			<input type="date" name="date" id="today" disabled>&nbsp;&nbsp;
  			<input type="text" name="storeName" th:placeholder="${session.loginStaff.store.name}" disabled>&nbsp;&nbsp;
  			<input type="text" name="staffName" th:placeholder="${session.loginStaff.name}" disabled>
  		<br><br>
  		手段：
  			<div class="form-check form-check-inline">
				<select name="customerServiceMeanId" th:field="*{customerServiceMeanId}" class="form-select m-1" aria-label="Default select example">
			  		<option value=1>訪問</option>
			  		<option value=2>来店</option>
			  	    <option value=3>電話</option>
			  	    <option value=4>メール</option>
			  	    <option value=5>Web会議</option>
			  	    <option value=6>郵送</option>
			  	    <option value=7>その他</option>
				</select>
			<div th:errors="*{customerServiceMeanId}" style="color:red"></div>
			</div>
		<br>
		方法：
			<div class="form-check form-check-inline">
			  	<select name="customerServicePurposeId" th:field="*{customerServicePurposeId}" class="form-select m-1" aria-label="Default select example">
			 		<option value=1>新規アプローチ</option>
			 		<option value=2>定期挨拶</option>
			  		<option value=3>提案</option>
			  		<option value=4>申込受付</option>
			  		<option value=5>契約</option>
			  		<option value=6>復活新規</option>
			  		<option value=7>クレーム対応</option>
			  		<option value=8>問い合わせ</option>
			  		<option value=9>その他</option>
				</select>
			<div th:errors="*{customerServicePurposeId}" style="color:red"></div>
			</div>
			<br><br>
		<div class="mb-3">
  		詳細：
 			<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="detail" th:field="*{detail}"></textarea>
		</div>
		<div class="mt-2 text-center">
			<button type="submit" class="btn btn-primary">追加</button>
		</div>
  		</div>
  </div>
  </form>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script th:src="@{/js/today.js}"></script>
</body>
</html>
